@import './variables';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  flex: 1 1 auto;
  background: #fff;
  box-shadow: 0 0 1.2rem rgba(#000, 0.06);
  display: block;
  max-width: 37rem;
  padding: 4rem;
  padding-top: 4.5rem;
  position: relative;
  margin: 2rem;
}

.heading {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 300;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  background: $primaryColor;
  border-radius: 50%;
  padding: 1.2rem;
  font-size: 4.5rem;
  box-shadow: 0 0 0.8rem rgba(0,0,0,0.05);
  > * {
    stroke: #fff;
  }
}
